<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1><%= selectBusiness.name %></h1>
    <ul>
        <li><%= selectBusiness.name %></li>
        <li><%= selectBusiness.location %></li>
        <li><%= selectBusiness.owners %></li>
        <li><%= selectBusiness.type %></li>
        <li><%= selectBusiness.phone %></li>
        <li><%= selectBusiness.website %></li>
    </ul>
    <img src="<%= selectBusiness.image %>" alt=""><br>
    <a href="/blk/">Back to Index</a>
</body>
</html>